@charset "utf-8";

body{
    font-family: 'Noto Sans JP', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 15px;
    list-style: 1.5;
    color: #333;
}
b section {
    padding; 30px 15px;
}
homepage-name {

}

about-ress {

}

about-ress-text {

}
